<div class="about-me">
  <h2 class="about-me__title">More About Me...</h2>
  <p class="paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, ullam!
  </p>
  <p class="paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium fugiat
    similique minima ut quis! Magnam veritatis assumenda pariatur voluptate
    nulla?
  </p>
  <p class="paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
    mollitia!
  </p>
</div>
