<div class="block block__description">
  <h2 class="name">Francisco Lopez-Morelos</h2>
  <div class="grid grid--1x2">
    <div class="picture-block">
      <img class="my-picture" src="/images/pfp.webp" alt="" />
    </div>
    <div class="text--block">
      <p class="text text--select">
        I strive to always learn and improve to become a better version of
        myself. My interest in coding lies in front-end web development and
        mobile app development. I like the idea of designing my own project and
        putting it together for a polished final product.
      </p>
    </div>
  </div>
</div>
