<footer class="block-footer">
  <h2 class="footer__title">Contacts</h2>
  <div class="grid grid--1x2 grid__footer">
    <div class="grid grid--1x2 grid__footer contact-container">
      <p class="contact">Email: franciscolopezmorelos@gmail.com</p>
      <p class="contact">Phone Number: 562-481-4718</p>
    </div>
    <div class="grid grid--1x2 grid__footer socials-container">
      <a href="" class="link socials"
        >LinkedIn<i class="fa-brands fa-linkedin social-icon"></i
      ></a>
      <a href="" class="link socials"
        >Twitter<i class="fa-brands fa-square-x-twitter social-icon"></i
      ></a>
    </div>
  </div>
</footer>
