<div class="projects-block">
  <div class="projects-title">
    <h2 class="block--title">Projects</h2>
  </div>
  <div class="grid grid--1x2">
    <div class="card">
      <div class="project--card grid grid--1x2">
        <div class="picture-block">
          <img class="my-picture" src="/images/pfp.webp" alt="" />
        </div>
        <div class="information__container">
          <div class="project__information">
            <div class="icon grid grid--1x2">
              <div class="icon-container">
                <i class="fa-solid fa-laptop"></i>
              </div>
              <h3 class="project--title">Project Title</h3>
            </div>
            <p class="project--description">
              Project description... Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Harum, dolorem!
            </p>
            <h3 class="learn__title">What I learned...</h3>
            <ul class="list list--tick">
              <li class="list__item">One thing I learned</li>
              <li class="list__item">Another thing I learned</li>
              <li class="list__item">Last thing</li>
            </ul>
            <a class="link button direct--link direct--button" href="#"
              >Learn More...</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="project--card grid grid--1x2">
        <div class="picture-block">
          <img class="my-picture" src="/images/pfp.webp" alt="" />
        </div>
        <div class="information__container">
          <div class="project__information">
            <div class="icon grid grid--1x2">
              <div class="icon-container">
                <i class="fa-solid fa-laptop"></i>
              </div>
              <h3 class="project--title">Project Title</h3>
            </div>
            <p class="project--description">
              Project description... Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Harum, dolorem!
            </p>
            <h3 class="learn__title">What I learned...</h3>
            <ul class="list list--tick">
              <li class="list__item">One thing I learned</li>
              <li class="list__item">Another thing I learned</li>
              <li class="list__item">Last thing</li>
            </ul>
            <a class="link button direct--link direct--button" href="#"
              >Learn More...</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
