<div class="projects-block">
  <div class="projects-title">
    <div class="title--border">
      <h2>How I Built This Website...</h2>
    </div>
  </div>
  <div class="projects--text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, a nisi
      impedit dolor minima iste. Laborum deleniti illum accusamus labore? Fugiat
      nemo dolorum repellat! Sapiente eius necessitatibus cum beatae corrupti?
    </p>
  </div>
  <div class="download--container">
    <a class="link download--link" href=""
      >Download<i class="fa-solid fa-circle-down"></i
    ></a>
  </div>
</div>
