:root {
    --primary-color: #194680;
    --secondary-color: #d4e3f7;
    --accent-color: #ff3333;
    --primary-text-color: #121010e1;
    --secondary-text-color: #003366;

}

/* Typography */

h1, h2, h3, p {
    color: var(--primary-text-color);
}

.title {
    text-align: center;
    width: 100vw;
}

.page--title {
    margin: 1.5rem 5rem;
    color: var(--primary-color);
    text-shadow: 0px 0px 10px #999;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: .5rem;
}

.title--border {
    border-bottom: 2px solid var(--primary-text-color);
}

/* Links */

.link {
    text-decoration: none;
}

.direct--link {
    color: var(--secondary-color);
    font-size: .7rem;
    font-weight: 500;
}

.download--link {
    color: var(--secondary-text-color);
}

.download--link i {
    margin-left: .5rem;
}

.top-link-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.link .up-arrow {
    margin: 0 .5rem;
}

.top-link {
    color: var(--secondary-text-color);
    font-weight: 500;
}

@media screen and (min-width: 678px) {
    .direct--link {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

/* Buttons */

.button {
    margin: 0;
    height: auto;
    width: auto;
    padding: .2rem 1.5rem;
    border-radius: 20px;
}

.direct--button {
    background: var(--accent-color);
    display: inline-block;
}

.btn--long {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 678px) {
    .button {
        padding: .5rem 3.5rem;
        margin: 1rem;
    }
}

/* Standard Code */

body {
    background: var(--secondary-color);
    height: 500vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1200px;
}

/* Navigation Bar */

nav {
    background: var(--primary-color);
    width: 100%;
    height: auto;
}

.navigation-bar {
    text-align: center;
    font-size: 1.3rem;
}

.logo-container {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.link-container {
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
}

.nav--links {
    color: #FFFFE0;
}

@media screen and (min-width: 678px) {

    .logo-container {
        margin-left: 2rem;
        margin-top: 0;
        margin-bottom: 0;
        justify-self: start;
    }

    .navigation-bar {
        justify-items: center;
        align-items: center;
        padding: 1rem 0;
    }

    .link-container {
        flex-direction: row;
        justify-self: end;
        margin-right: 1rem;
    }

    .link-container .nav--links {
        margin: 0 1rem;
    }
}

/* Footer */

.block-footer {
    background: var(--primary-color);
    height: auto;
    padding: .5rem;
    text-align: center;
}

.contact-container {
    font-size: .7rem;
}

.contact {
    color: #FFFFE0;
}

.socials-container {
    margin: 1rem 0;
    gap: 1rem;
    font-size: .8rem;
}

.socials {
    color: var(--secondary-color);
}

.socials:hover {
    color: var(--accent-color);
}

.social-icon {
    margin: 0 .5rem;
}

.footer__title {
    text-align: center;
    margin: .5rem 0;
    color: #FFEFD5;
    text-shadow: 2px 2px var(--accent-color);
}

@media screen and (min-width: 678px) {
    .contact-container, .socials-container {
        font-size: .75rem;
        font-weight: 500;
    }

    .socials-container {
        align-items: center;
    }
}

@media screen and (min-width: 1224px) {
    .contact-container, .socials-container {
        font-size: 1rem;
        font-weight: 400;
    }
}

/* Block */

.block {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 2rem;
    width: auto;
    border-radius: 20px;
}

.block__description {
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 10px 10px 10px #777;
    transition: scale .2s;
    flex-wrap: nowrap;
}

.block__description:hover {
    scale: 1.05;
}

.name__block {
    margin: 0;
    text-align: center;
    margin: 0 1.5rem;
    padding: .5rem 0;
    border-bottom: 1.5px solid #fff;
    font-size: 1.5rem;
}

.picture-block {
    margin: 1rem 1.5rem;
    border-radius: 15px;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
}

/* Not really the best way of doing this */
.my-picture {
    width: 200px;
    height: 200px;
}

.text--block {
    align-items: center;
    background: var(--accent-color);
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-self: center;
    margin: 1rem .3rem;
    opacity: .6;
    padding: .5rem 0;
    text-align: center;
}

.text__description {
    font-size: .5rem;
    line-height: .6rem;
}

.text--select::selection {
    background: var(--secondary-color);
    color: var(--primary-color);
}

@media screen and (min-width: 425px) {
    .text--block {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 678px) {
    .block {
        margin: 2rem 3.5rem;
    }

    .picture-block {
        width: 13rem;
        height: 13rem;
    }

    /* May need adjustment */
    .my-picture {
        width: 100%;
        height: 100%;
    }

    .text--block {
        margin-right: 5rem;
    }

    .text__description {
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

/* Grid */

.grid {
    display: grid;
}

.grid__block {
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 920px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    .grid--1x3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    } 
}

/* Card */

.card {
    background: var(--primary-color);
    margin: 1rem;
    width: 15rem;
    height: auto;
    border-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .2s;
}

.card:hover {
    scale: 1.05;
}

.project--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information__container{
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}

.project__information {
    text-align: center;
    padding: .5rem;
}

.project--title {
    font-weight: 500;
    font-size: 1rem;
    text-shadow: 2px 2px rgba(255, 51, 51, 0.3);
}

.icon .project--title {
    position: absolute;
}

.project--description {
    line-height: 1rem;
    font-size: .7rem;
    font-weight: 600;
}

.project__information h3 {
    color: var(--secondary-text-color);
}

p.learn__title {
    color: var(--secondary-text-color);
}

.learn__title {
    font-size: .9rem;
    font-weight: 500;
    text-shadow: 2px 2px rgba(255, 51, 51, 0.3);
}

.list {
    list-style: none;
    padding-left: 0;
    font-size: .7rem;
    font-weight: 500;
}

.list--tick {
    list-style-image: url(/images/tick.svg);
    padding-left: 3rem;
}

.list__item {
    text-align: left;
    padding-bottom: .5rem;
}

.list--tick .list__item {
    padding-left: 2rem;
}


/* Link for card */
.direct--button:hover, .direct--link:hover {
    background: var(--secondary-color);
    color: var(--accent-color);
}

@media screen and (min-width: 678px) {
    .card {
        width: 20rem;
    }

    .project--title {
        font-weight: 600;
        font-size: 1rem;
    }

    .project--description {
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
    }

    .learn__title {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .list {
        font-size: 1rem;
        font-weight: 400;
    }
}

/* Icons */

.icon {
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    padding: 0 .5rem;
    column-gap: 2rem;
    width: auto;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--secondary-color);
    justify-self: flex-start;
}

@media screen and (min-width: 678px) {
    .icon {
        padding: 0 1rem;
    }

    .icon-container {
        width: 40px;
        height: 40px;
    }
}

/* Projects */

.projects-block {
    margin: 1rem auto;
    padding: 1rem;
    background: #FFEFD5;
    border-radius: 20px;
    width: 15rem;
}

.projects-title {
    box-shadow: 0px 3px rgba(255, 51, 51, 0.3);
    font-size: .7rem;
    text-align: center;
    text-shadow: 2px 2px rgba(255, 51, 51, 0.3);
}

.projects {
    justify-content: center;
    align-content: center;
    height: auto;
    width: auto;
}

.projects--text {
    font-size: .6rem;
    line-height: 1rem;
    font-weight: 800;
}

.btn-projects {
    display: flex;
    justify-content: center;
    width: 10rem;
}

.download--container {
    display: flex;
    justify-content: flex-end;
    font-size: .7rem;
}

@media screen and (min-width: 678px) {
    .projects-block {
        width: 600px;
    }

    .projects-title {
        font-size: 1rem;
    }

    .projects--text {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
    }

    .download--container {
        font-size: 1rem;
        font-weight: 600;
    }

    .download--link:hover {
        color: var(--accent-color);
    }

    .projects {
        align-items: center;
        justify-items: center;
    }
}

/* About Me Page */

.about-me {
    background-color: #fff;
    padding: 1rem;
}

.about-me__title {
    text-align: center;
}

.paragraph {
    text-indent: 1rem;
}

.my-resume {
    background: #FFEFD5;
    padding: 1rem;
    font-size: .8rem;
}

.resume__title {
    font-size: .8rem;
    text-align: center;
}

.resume__link {
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 678px) {
    .about-me {
        border-radius: 2px;
        box-shadow: 10px 10px 10px grey;
        margin: 1rem;
    }

    .my-resume {
        border-radius: 20px;
        width: 40rem;
        margin: 2rem auto;
    }
}