:root {
    --primary-color: #194680;
    --secondary-color: #d4e3f7;
    --accent-color: #ff3333;
    --primary-text-color: #121010e1;
    --secondary-text-color: #003366;
}

/* Typography */

h1, h2, h3, p {
    color: #fff;
}

.title {
    text-align: center;
    width: 100vw;
}

.page--title {
    margin: 1.5rem 5rem;
    color: var(--primary-color);
    text-shadow: 0px 0px 10px #999;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: .5rem;
}

/* Links */

.link {
    text-decoration: none;
}

.direct--link {
    color: var(--accent-color);
}


/* Shapes */
.parallelogram {
    width: 10rem;
	height: 4rem;
	transform: skew(20deg);
	background: #555;
    border-radius: 10px;
}

.square {
    height: 5rem;
    width: 10rem;
    background: #555;
    border-radius: 10px;
}

.circle {
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
    background: #999;
}

.square__laptop {
    right: 7px;
    top: 7px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square__ipad {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__ipad {
    position: absolute;
    display: inline;
    align-self: center;
    left: 10.55rem;
}

.square__picture {
    height: 3.5rem;
    width: 9rem;
}

.ipad__picture {
    height: 4.5rem;
    display: inline;
}

.laptop {
    margin: 1rem;
}

.ipad {
    margin: 1rem;
}


/* Standard Code */

body {
    background: var(--secondary-color);
    height: 500vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1200px;
}

/* Navigation Bar */

nav {
    background: var(--primary-color);
    opacity: .8;
    width: 100%;
    height: 5rem;
}

/* Block */

.block {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 2rem;
    width: auto;
    border-radius: 20px;
}

.block__description {
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 10px 10px 10px #777;
    transition: scale .2s;
    flex-wrap: nowrap;
}

.block__description:hover {
    scale: 1.05;
}

.name__block {
    margin: 0;
    text-align: center;
    margin: 0 1.5rem;
    padding: .5rem 0;
    border-bottom: 1.5px solid #fff;
    font-size: 1.5rem;
}

.picture-block {
    margin: 1rem 1.5rem;
    border-radius: 15px;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
}

.my-picture {
    width: 100%;
    height: 100%;
}

.text--block {
    align-items: center;
    background: var(--accent-color);
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-self: center;
    margin: 1rem .3rem;
    opacity: .6;
    padding: .5rem 0;
    text-align: center;
}

.text__description {
    font-size: .5rem;
    line-height: .6rem;
}

.text--select::selection {
    background: var(--secondary-color);
    color: var(--primary-color);
}

@media screen and (min-width: 425px) {
    .text--block {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 678px) {
    .block {
        margin: 2rem 3.5rem;
    }

    .picture-block {
        width: 13rem;
        height: 13rem;
    }

    .text--block {
        margin-right: 5rem;
    }

    .text__description {
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

/* Grid */

.grid {
    display: grid;
}

.grid__block {
    align-items: center;
    justify-items: center;
}

.grid--1x2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--1x3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* Card */

.card {
    background: var(--primary-color);
    margin: 1rem;
    width: 20rem;
    height: auto;
    border-radius: 20px;
    transition: .2s;
}

.card:hover {
    scale: 1.05;
}

.project--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information__container{
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.project__information {
    text-align: center;
    padding: .5rem;
}

.project--title {
    font-weight: 600;
    text-shadow: 2px 2px rgba(255, 51, 51, 0.3);
}

.project--description {
    line-height: 1.5rem;
}

.project__information p, .list{
    color: var(--primary-text-color);
}

.project__information h3 {
    color: var(--secondary-text-color);
}

p.learn__title {
    color: var(--secondary-text-color);
}

.learn__title {
    font-size: 1.1rem;
    font-weight: 500;
    text-shadow: 2px 2px rgba(255, 51, 51, 0.3);
}

.list {
    list-style: none;
    padding-left: 0;
}

.list--tick {
    list-style-image: url(/images/tick.svg);
    padding-left: 3rem;
}

.list__item {
    text-align: left;
    padding-bottom: .5rem;
}

.list--tick .list__item {
    padding-left: 2rem;
}

/* Fix the link and scale the card. Try with ipad and laptop also. */