:root {
    --primary-color: #194680;
    --secondary-color: #d4e3f7;
    --accent-color: #ff3333;
}

/* Typography */

h1, h2, h3 {
    color: #fff;
}

.title {
    text-align: center;
    width: 100vw;
}

.page--title {
    margin: 1.5rem 5rem;
    color: var(--primary-color);
    text-shadow: 0px 0px 10px #999;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: .5rem;
}

/* Standard Code */

body {
    background: var(--secondary-color);
    height: 500vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1200px;
}

/* Navigation Bar */

nav {
    background: var(--primary-color);
    opacity: .8;
    width: 100%;
    height: 5rem;
}

/* Block */

.block {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 2rem;
    width: auto;
    border-radius: 20px;
}

.block__description {
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 10px 10px 10px #777;
    transition: scale .2s;
    flex-wrap: nowrap;
}

.block__description:hover {
    scale: 1.05;
}

.name__block {
    margin: 0;
    text-align: center;
    margin: 0 1.5rem;
    padding: .5rem 0;
    border-bottom: 1.5px solid #fff;
    font-size: 1.5rem;
}

.picture-block {
    margin: 1rem 1.5rem;
    border-radius: 15px;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
}

.my-picture {
    width: 100%;
    height: 100%;
}

.text--block {
    align-items: center;
    background: var(--accent-color);
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-self: center;
    margin: 1rem .3rem;
    opacity: .6;
    padding: .5rem 0;
    text-align: center;
}

.text__description {
    font-size: .5rem;
    line-height: .6rem;
}

.text--select::selection {
    background: var(--secondary-color);
    color: var(--primary-color);
}

@media screen and (min-width: 425px) {
    .text--block {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 678px) {
    .block {
        margin: 2rem 3.5rem;
    }

    .picture-block {
        width: 13rem;
        height: 13rem;
    }

    .text--block {
        margin-right: 5rem;
    }

    .text__description {
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

/* Grid */

.grid {
    display: grid;
}

.grid__block {
    align-items: center;
    justify-items: center;
}

.grid--1x2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
}